
<!DOCTYPE html>
{%extends 'testapp/base.html'%}
       {%block body_block%}

<section class="container-fluid">
  <section class="row justify-content-center">
  <section class="col-12 col-sm-6 col-md-3  animate__animated animate__bounceInLeft">
    <form class="form-container">
      <h3 class="hhh">already a user!! see your <span class="hhh2">matches</span> now</h3>
  <div class="form-group">
    {{form.as_p}}
  </div>
    <button type="button" name="button" class="but"><span>logIn</span></button>
</form>
</section>
</section>
</section>
       {%endblock%}